
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #1a1d27;
    position: sticky;
    top: 0;
    background-color: #0f1117;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav a{
    color: #e2e8f0;
    text-decoration: none;
}

nav a:hover{
    color: #6366f1;
    transition: 0.3s;
}

body{
    background-color: #0f1117;
    color: #e2e8f0;
    font-family: Arial, sans-serif;
    
}

/* Projetos */
.grid-projeto{
    display: flex;
    gap: 2rem;
}

.card-projeto{
    background-color: #1a1d27;
    border-radius: 12px;
    overflow: hidden;
    flex: 1;
}

.card-projeto img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-projeto h3{
    padding: 1rem 1rem 0.5rem;
    font-size: 30px;
}

.card-projeto p{
    padding: 0 1rem;
}

.card-projeto .btn{
    margin: 0 1rem 1rem;
}

.projeto-link{
    margin-top: 2rem;
}

section{
    margin-bottom: 4rem;
    padding: 2rem;
}

/* Card sobre */
.sobre-conteudo{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sobre-foto{
    width: 300px;
    border-radius: 30px;
}

h1, h2, h3{
    font-family: Georgia, serif;
    font-size: 42px;
    margin-bottom: 20px;
}

/* Habilidades */
.lista-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.card-habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1a1d27;
    color: #6366f1;
    padding: 0;
    border-radius: 8px;
    border: 1px solid #6366f1;
    transition: 0.3s ease;
}

.card-habilidades:hover {
    background-color: #6366f1;
    color: #e2e8f0;
}

.card-habilidades img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 15px 0 0;
}

.card-habilidades span{
    padding: 0.5rem 0;
}

.card-habilidades p{
    padding: 0 0.75rem 0.75rem;
}

p {
    color: #94a3b8;
    margin-bottom: 20px;
    font-size: 22px;
}

label{
    color: #94a3b8;
}

li {
    color: #6366f1;
}

.btn {
    background-color: #6366f1;
    color: #e2e8f0;
    padding: 0.75rem 1.5rem;
    border-radius: 6px; /*Aqui arredonda o botão*/
    text-decoration: none;
    display: inline-block;
}

.btn:hover{
    background-color: #e2e8f0;
    color: #818cf8;
    transition: 0.5s;
}

input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    background-color: #1a1d27;
    color: #e2e8f0;
    border: 1px solid #6366f1;
    border-radius: 6px;
}

input:focus{
    outline: 2px solid #6366f1;
}

button {
    background-color: #6366f1;
    color:#e2e8f0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover{
    background-color: #e2e8f0;
    color: #818cf8;
}

footer{
    text-align: center;
    padding: 2rem;
    color:#94a3b8;
}

footer hr{
    border-color: #1a1d27;
    margin-bottom: 1rem;
}

